body{
    background-image:  linear-gradient(90deg, #5cdee5, #014bae);
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    overflow: hidden;
}