.btn-home{
    background-color: white/*#90d5e7*/;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    border: 0px;
    padding: 10px 10px 10px;
    cursor: pointer;
    font-size: 16px;
}
.btn-home:hover{
    transition: 0.5s;
    background-color: rgb(182, 172, 172)  ;
}
.btn-home a{
    color: black;
}