@media screen and (max-width: 768px){
   .inicio-lateral-esquerda{
    background-image: url('../../../components/img-logos/arage_sem_fundo.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    width: 100%;
   }
   .inicio-lateral-esquerda:hover{
    transition: 1s;
    opacity: 100%;
   }
   .Titulo-lateral-esquerda{
   }
   #titulo-esquerda{
    }
   .inicio-lateral-direita{
    display: none;
    img{
        display: none;
        }
    }
}
