main{
    width: 100%;
    height: 100vh;
}
.lista_famosos{
    display: grid;
    grid-;
    width: 100%;
    height: 80vh;
}
.titulo_placar{
    text-align: center;
    width: 100%;
    height: 20%;
}
.famosos_placar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: wheat;
    border: 3px solid black;
    width: 90%;
    height: 80%;
}
.famosos_placar > .ranking{
    height: 100%;
    width: 90%;
    background-color: aqua;
}