/* .artista-new{
    display: flex;
    position: relative;
    width: 100%;
    height: 80vh;
}
.artista-new article{
    width: 50%;
    border: 3px solid black;
}
.new-artista-esquerda{
    display: block;
    align-content: center;
    
}
.text-new-artista{
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
    padding: 10%  0 ;
    border: 3px solid black;

}  
.artista-description{
     padding-left: 10% ;
}
.new-artista-esquerda .text-new-artista > h1{
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    border: 3px solid black;
}
.text-new-artista > div{ 
    border: 2px solid black;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 80%;
}
.button-new-artista{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    align-items: center;
    border: 3px solid black;
}   */

.artista-new{
    /* display: flex; */
    position: relative;
    width: 100%;
    height: 100vh;
}
.teste{
    display: flex;
}
.artista-new article{
    width: 50%;
    /* border: 3px solid black; */
    text-align: center;
}
.text-new-artista{
    padding-top: 10%;
    /* background-color: aqua; */
    height: 100%;
    text-align: center;
    /* border: 3px solid black; */
}
.titulo-new-artista{
    height: 15%;
    h1{
        padding-right: 6%;
        font-size: 30px;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
    /* border: 3px solid black; */
}
.new-artista-esquerda{
    width: 100%;
    height: 78vh;
    text-align: justify;
}
.text-new-artista{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 170px; */
    /* text-align: center; */

}  
.artista-description{
    margin-left: 25%;
    text-align: justify;
    height: 40%;
    width: 60%;
    /* border: 3px solid black ; */
    
}
.artista-description > p{
    font-size: 18px;
    line-height: 2rem;    
}
.button-new-artista{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    align-items: center;
}  
.new-artista-esquerda .text-new-artista > h1{
    text-align: center;
}
.new-artista-direita{
    padding-top: 1%;
    /* border: 3px solid black; */
    width: 100%;
    height: 90vh;
    overflow: hidden;
}
.new-artista-direita > h1{
    padding-top: 2%;
    
    font-size: 30px;
    font-weight: 900;
    color: white;
}
#new-artista-img{
    height: 80%;
    width: 45%;
    border-radius: 0 15% 0 15%;
    text-align: center;
    /* margin-top: 40px; */
}
#nome-artista-hwasa{
    text-align: left;
    margin-left: 94px;
    margin-top: 60px;
}

